body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}
.header {
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title{
    display: flex;
    flex-direction: row;
    flex:50%;
    justify-content: center;

}
.navbar{
    display: flex;
    flex: 50%;
    flex-direction: column;
    
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
