body{
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
}

.header {
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.title{
    display: flex;
    flex-direction: row;
    flex:50%;
    justify-content: center;

}
.navbar{
    display: flex;
    flex: 50%;
    flex-direction: column;
    
}
.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.grid{
    display: grid;
    max-width: 100%;
    max-height: 3000px;
    margin: auto;
    gap: 30px 15px;
    grid-template: repeat(27,1fr) / repeat(12, 1fr);
    padding: 30px;
    line-height: 2em;
}

.personal-image{ 
    overflow: hidden;
    grid-area: 1 / 1 / 5 / 7;
    object-fit: cover;
}
.personal-description{
    overflow: hidden;
    grid-area: 1 / 6 / 5 / 13;
    object-fit: cover;
    
}
.personal-image img{
   max-width: 100%;
   max-height: 100%;
   
}
.mtb6000{
    grid-area: 6 / 1 / 10 / 11;
    border-bottom: black 4px solid;
}
.mtbinfo{
    overflow: hidden;
    grid-area: 9 / 1 / 10 / 11 ;

}

.infofont{
    opacity: 0.8;
    padding: 4%;
    font-size: 2em;
    line-height: 30px;
    font-weight: 500;
    color: white;
    background-color: #5a5a55;
  
}
.mtb6000 img{
    max-height: 100%;
    max-width: 100%;
    
}
.teacozy{
    grid-area: 10 / 3 / 14 / 13;
    border-bottom: black 4px solid;
   
}
.teacozy img{
    max-height: 100%;
    max-width: 100%;
    
}
.tea-info{
   
    grid-area: 13 / 3 / 14 / 13 ;
    
  
}
.regalos-hygge{
    
    grid-area: 15 / 1 / 19 / 10;
    border-bottom: black 4px solid;
   
}
.regalos-hygge img {
    max-height: 100%;
    max-width: 100%;
  
}
.regaloshygge-info {
    grid-area: 18 / 1 / 19 / 10 ;
   
}

.skills{
    display: flex;
    grid-area: 20/1/24/13;
}
.skills ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.javascript img,.html img,.css img{
    max-width: 100%;
    max-height: 100%;

}
.contact-title{
   grid-area: 24/1/25/7;
}
.contact{
    display: flex;
    justify-content: space-around;
}
.contact-form{
    display: flex;
    flex-direction: column;
    grid-area: 25/1/28/7;
    
}
.contact-form input{
    margin: 1% 0 1% 0;
}

.social-media{
    display: flex;
    grid-area: 25/8/28/13;
   
}
.social-media ul{
    display: flex;
    list-style: none;
}
.social-media img {
    max-height: 80%;
    max-width: 80%;
    
}
.contact-info{
    background-color: #5a5a55;
    opacity: 0.7;
    grid-area: 29/1/30/13;
    color: white;
    padding: 0%;
}
.contact-info ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    flex-wrap: wrap;
}
